<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <h1 class="text-center font-weight-bold pt-3">BookStore</h1>
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="username" type="text" placeholder="Username">
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-danger">*Username is required</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*Password is required</small>
                            <div class="form-inline fr mt-4">
                                <a id="forget" class="font-weight-bold" data-bs-toggle="modal" data-bs-target="#forgetModal">Forgot Password?</a>
                            </div>
                            <button (click)="onLogin()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
                            <div class="text-center pt-4 text-muted">Don't have account?<a id="register" routerLink="/register">Register</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="forgetModal" tableindex="-1" aria-labelledby="forgetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel">
                    <span style="font-size: 25px;font-weight:700">Forgot your password?</span><br>
                    <small>Please provide your E-mail which your account was made with!</small>
                </p>
            </div>
            <div class="modal-body">
                <div class="form-group pt-3">
                    <div class="input-field"><span class="fa fa-user p-2"></span><input type="text" placeholder="Email" [(ngModel)]="resetPasswordEmail" (ngModelChange)="checkValidEmail($event)"></div>
                </div>
                <small *ngIf="!resetPasswordEmail && !isValidPasswordEmail" class="text-danger">*Email is required </small>
                <small *ngIf="!isValidPasswordEmail" class="text-danger">*Email is invalid</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
