<ng-container *ngIf="!isVisible()">
    <nav class="navbar nav-underline navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand fw-bold" routerLink="">
            <i class="fa fa-book"></i>BookStore</a>
            <ul class="navbar-nav">
              <span class="navbar-text white" *ngIf="isloggedin()">Hello, {{name}}!</span>
                <li class="nav-item" *ngIf="isloggedin()">
                  <button class="button nav-link white" (click)="logout()" >Logout</button>
                </li>
                <li class="nav-item" *ngIf="!isloggedin()">
                  <a class="nav-link" routerLink="login">Login</a>
                </li>
                <li class="nav-item" *ngIf="!isloggedin()">
                  <a class="nav-link" routerLink="cart"><i class="fa fa-shopping-cart"></i></a>
                </li>
            </ul>
          </div>
      </nav>
</ng-container>

