<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th class="col">Title</th>
                <th class="col">Amount</th>
                <th class="col">Price</th>
                <th class="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of mapToArray(orders)">
                <td>{{order.key.title}}</td>
                <td>
                    <button (click)="addOneOrderAmount(order.key)">+</button>
                    {{order.value}}
                    <button (click)="removeOneOrderAmount(order.key)">-</button>
                    <button (click)="deleteOrder(order.key)">Delete</button>
                </td>
                <td>{{order.key.price * order.value}}</td>
                <td><button (click)="buyOrder(orders)">Buy</button></td>
            </tr>
        </tbody>
    </table>
</div>
