.input-field.error{
    border: 1px solid red;
    color: red;
}

.input-field{
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #000000;
}

input[type='text'],
input[type='number'],
textarea[type='text']{
    border:none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

textarea {
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    outline: none;
  }
  
.no-outline:focus {
    outline: none;
}