<ng-container *ngIf="!isLoginorRegisterPage()">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="books">BookStore</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="books">Books<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="orders">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="addbook">Add book</a>
          </li>
          <li class="nav-item" *ngIf="loggedin()">
            <button class="button nav-link" (click)="logout()" >Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</ng-container>

